@charset "utf-8";
/* # reset
---------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'SF Pro Text';
    src: url('https://media.zipped.news/public/assets/SFProText-Bold.eot');
    src: url('https://media.zipped.news/public/assets/SFProText-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://media.zipped.news/public/assets/SFProText-Bold.woff2') format('woff2'),
        url('https://media.zipped.news/public/assets/SFProText-Bold.woff') format('woff'),
        url('https://media.zipped.news/public/assets/SFProText-Bold.ttf') format('truetype'),
        url('https://media.zipped.news/public/assets/SFProText-Bold.svg#SFProText-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
}

html {
    overscroll-behavior-y: none;
}

* {
    margin: 0;
    padding: 0;
    line-height: normal;
    box-sizing: border-box;
    font-family: 'SF Pro Text' !important;
    overscroll-behavior-y: none !important;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
dt,
dd,
li,
table,
th,
td,
form,
address,
pre,
caption,
cite,
code,
dfn,
var {
    font-size: 100%;
    font-style: normal;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

img {
    border: 0;
    vertical-align: bottom;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,
th {
    text-align: left;
}

ol,
ul {
    list-style: none;
}

body {
    background: #15202B;
    color: rgba(255, 255, 255, 0.85);
    font-family: 'SF Pro Text' !important;
    font-weight: normal;
    font-style: normal;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.back {
    padding: 10px 5px 0;
}

.comment-cnt-bottom h2 {
    color: rgba(255, 255, 255, 0.85);
    font-family: "SF Pro Text";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    margin-top: 7px;
    border-bottom: 1px solid #35506C;
    padding: 0 0 7px 23px;
}

.comment-login {
    color: rgba(255, 255, 255, 0.45);
    font-family: "SF Pro Text";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    margin-top: 16px;
    text-align: center;
}

.comment-cnt-top-r {
    width: 100%;
}

.news-src {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 10px 0;
}

.news-src-l {
    display: flex;
    align-items: center;
    padding: 0 11px;
}

.news-src-l .topic {
    color: rgba(255, 255, 255, 0.85);
    font-family: "SF Pro Text";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 4px;
    background: #406284;
    padding: 0 4px;
    margin-right: 15px;
    text-decoration: none;
}

.news-src-l .time {
    color: rgba(255, 255, 255, 0.45);
    font-family: "SF Pro Text";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-right: 15px;
}

.news-src-l .folllow {
    color: #DC5964;
    font-family: "SF Pro Text";
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 23px;
}

.news-src-r img {
    width: 16px;
}

.mh {
    color: rgba(255, 255, 255, 0.85);
    font-family: "Source Serif Pro"!important;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    margin-top: 7px;
    padding: 0 10px;
}

.mh a{
    font-family: "Source Serif Pro" !important;
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none;
}

.mh img {
    display: inline-block;
    vertical-align: text-top;
    margin-top: 2px;
    margin-right: 0px;
    width: 14px;
}

.tab-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 9px;
    padding: 0 10px;
}

.tab-title-r {
    border-radius: 12px;
    background: #10161D;
    overflow: hidden;
    color: #FF6572;
    font-family: "SF Pro Text";
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    padding: 0 10px;
    margin: 10px 10px 0;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab-title-r img {
    display: inline-block;
    margin-right: 7px;
    vertical-align: top;
    margin-top: 1px;
    width: 17px;
}

.tab-title-l {
    display: flex;
    align-items: center;
}

.ai {
    display: flex;
    align-items: center;
    color: #DC5964;
    font-family: "SF Pro Text";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    margin-right: 30px;
}

.ai img {
    margin-right: 6px;
    width: 14px;
}

.eli5 {
    display: flex;
    align-items: center;
    color: #FFF;
    font-family: "SF Pro Text";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
}

.eli5 img {
    margin-right: 6px;
    width: 14px;
}

.content {
    background: url(https://media-uat.zipped.news/public/zipped/lead-in/web/images/bg_cnt.svg) no-repeat 0 0;
    background-size: 100%;
    height: 250px;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.85);
    font-family: "SF Pro Text";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    padding: 20px 18px;
    overflow: hidden;
    position: relative;
    margin: 0 10px;
    border-radius: 0 0 10px 10px;
}

.login-continue {
    border-radius: var(--Components-Input-Component-paddingBlockSM, 0px) var(--Components-Input-Component-paddingBlockSM, 0px) 16px 16px;
    background: linear-gradient(0deg, #2E455C 90.4%, rgba(46, 69, 92, 0.80) 100%);
    height: 180px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
}

.login-continue div {
    width: 100%;
}

.login-continue .button {
    text-align: center;
}

.login-continue .button a {
    border-radius: 9999px;
    border: 1px solid #DC5964;
    background: #DC5964;
    box-shadow: 0px 2px 0px 0px rgba(255, 101, 114, 0.10);
    color: #FFF;
    font-family: "SF Pro Text";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    padding: 0 30px;
    display: inline-block;
    text-decoration: none;
}

.login-continue-txt {
    text-align: center;
    color: rgba(255, 255, 255, 0.45);
    margin-top: 10px;
    font-family: "SF Pro Text";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    padding: 0 39px;
}

.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
}

.social-l {
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.65);
    font-family: "SF Pro Text";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
}

.social-l img {
    margin-right: 5px;
    height: 24px;
}

.social-r {
    display: flex;
    align-items: center;
}

.social-r p {
    display: flex;
    align-items: center;
    margin-left: 24px;
    color: rgba(255, 255, 255, 0.65);
    font-family: "SF Pro Text";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
}

.social-r img {
    margin-right: 5px;
    width: 24px;
}

.full-coverage-top {
    border-top: 3px solid #406284;
    padding: 10px 10px 0;
    display: flex;
    justify-content: space-between;
}

.full-coverage-top-l {
    color: rgba(255, 255, 255, 0.85);
    font-family: "SF Pro Text";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.full-coverage-top-r a {
    color: #2B4ACB;
    font-family: "SF Pro Text";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
}

.tt_slide_item {
    border-radius: 8px;
    border: 1px solid #406284;
    background: #223446;
    padding: 10px;
}

.tt_slide_item .news-src-r img {
    width: 15px !important;
}

.tt_slide_item h2 {
    color: rgba(255, 255, 255, 0.85);
    font-family: "Source Serif Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    margin-top: 10px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    min-height: 69px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tt_slide_item .social-r {
    margin-top: 20px;
}

.tt_slide_item .social-r p {
    margin-left: 0;
    margin-right: 20px;
}

.tt_slide_item .social-r p img {
    height: 18px;
}

#tt_slide.owl-theme .owl-next,
#tt_slide.owl-theme .owl-prev {
    width: 32px;
    height: 32px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
}

#tt_slide.owl-theme .owl-prev {
    left: 10px;
}

#tt_slide.owl-theme .owl-next {
    right: 10px;
}

#tt_slide .owl-prev {
    text-indent: -9999px;
    background: url(../images/prev.svg) no-repeat 0 0;
    background-size: 32px;
    height: 32px;
    width: 32px;
    position: absolute;
    left: 10px;
    top: 50px;
}

#tt_slide .owl-next {
    text-indent: -9999px;
    background: url(../images/next.svg) no-repeat 0 0;
    background-size: 32px;
    height: 32px;
    width: 32px;
    position: absolute;
    right: 8px;
    top: 48px;
}

.content_img {
    padding: 10px 10px 0;
}

.content_img img {
    border-radius: 3px;
    width: 100%;
}

.full-coverage-lst {
    padding: 0 10px 10px;
}

.full-coverage-lst li {
    border-bottom: 1px solid #406284;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.full-coverage-lst-img {
    width: 106px;
    height: 80px;
}

.full-coverage-lst-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.full-coverage-lst-info {
    width: calc(100% - 116px);
}

.full-coverage-lst-info .news-src {
    padding: 0;
}
.full-coverage-lst-info .mh{
    padding: 0;
    margin-top: 0;
    font-size: 15px;
}

.full-coverage-lst-info .social{
    padding: 10px 0 0;
}

.full-coverage-lst-info .social p{
    margin-left: 0;
    margin-right: 9px;
}
.cover{
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2E455C;
    overflow: hidden;
    position: relative;
}

.cover img{
    height: 280px;
}

.cover-icon{
    display: flex;
    position: absolute;
    justify-content: space-between;
    left: 0;
    top: 56px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 12px 0 7px;
}

.cover-icon p img{
    width: 24px;
    height: 24px;
    margin-left: 5px;
}

.cover-title{
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.70) 49.43%);
    padding: 10px 0;
}

.cover-title img{
    width: 24px;
    height: 24px;
}

.cover-lst{
    margin-top: 12px;
    padding-left: 10px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.cover-lst ul {
    width: 1000px;
}

.cover-lst ul li{
    width: 80px;
    height: 80px;
    border-radius: 8px;
    overflow: hidden;
    float: left;
    margin-right: 8px;
}

.cover-lst ul li img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.full-coverage-lst-info .news-src .news-src-l{
    padding: 0;
}

.full-coverage-lst-info .social .social-r p:last-child img{
    width: 40px;
}

